body {
    margin: 20px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.avatar {
    width: 150px;
    border: 2px solid pink;
    border-radius: 70%
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #034C3C;
    color: #84894A;
    border-bottom: 6px solid #282B28;
    border-radius: 10px;
    box-shadow: 10px 10px 5px purple;
}
.second:hover {
    background-color: silver;
}
    





